.left {

    float: left;

}

.right {

    float: right;

}

.hidden {

    display: none;

}

.show {
	display: block;
}

.page_button {
	margin-bottom: 1.5em;
}

.page_button button{
	width: 100px;
}

#note_page .form-group input, #note_page .form-group select{
	width: 12em;
}

#gesture_control_page .form-group select {
	width: 20em;
}